html, body {
    background-color: #1a1a1a !important;
    overscroll-behavior: none !important;
    height: 100%;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    border: none;
    padding: 0;
}

p {
    margin: 0;
}

* {
    user-select: none;
}
