html, body {
    background-color: #1a1a1a !important;
    overscroll-behavior: none !important;
    
    /* Lock it down completely so it never spawns a scrollbar */
    overflow: hidden !important; 
}

html, body {
    margin: 0;
    border: none;
    padding: 0;
}

p {
    margin: 0;
}

* {
    user-select: none;
}
